div {
    height:100px;
    width:100px;
    display: inline-block;
}

#red {
    background-color:#FF0000;
}

#blue {
    background-color:#0000FF;
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}

.pink_circle {
    height:100px;
    width:100px;
    border-radius: 100%;
    background-color: #FF847C;
    display: inline-block;
}

.yellow_circle {
    height:100px;
    width:100px;
    border-radius: 100%;
    background-color: #E2BE22;
    display: inline-block;
}

.green_circle {
    height:100px;
    width:100px;
    border-radius: 100%;
    background-color: #008800;
    display: inline-block;
}

table {
  border-collapse: collapse;
}

th {
  height:20px;
  width:200px;
  display: inline-block;
  padding:5px;
  border: 2px solid black;
  background-color: #94FF70;
}

td {
  width:200px;
  padding:5px;
  border:2px solid black;
  display: inline-block;

}
